<div class="form-group row d-flex align-items-center norm-row">
    <!-- "Activiteit" field -->
    <div class="col-sm-3">
        <input type="text" class="form-control background-dark" id="activiteit" name="activiteit" placeholder="Enter activity">
    </div>

    <!-- Functie dropdown -->
    <div class="col-sm-2">
        <select class="form-control dropdown-better background-dark" id="functie" name="functie">
            <option value="Vakkenvuller">Vakkenvuller</option>
            <option value="Kassa">Kassa</option>
            <option value="Vers">Vers</option>
        </select>
    </div>

    <!-- Duur int field and dropdown -->
    <div class="col-sm-3 d-flex gap-1">
        <input type="number" class="form-control int-edit background-dark" id="duur-int" name="duur-int" placeholder="0">
        <select class="form-control dropdown-better background-dark" id="duur" name="duur">
            <option value="seconden">Seconden</option>
            <option value="minuten">Minuten</option>
            <option value="uur">Uur</option>
        </select>
    </div>

    <!-- "per bezoeker" checkbox -->
    <div class="col-sm-3 d-flex align-items-center gap-2">
        <input type="number" class="form-control int-edit background-dark" id="number-field" name="number-field" placeholder="0">
        <label for="per-bezoeker" class="col-form-label">per bezoeker</label>
        <input type="checkbox" id="per-bezoeker" name="per-bezoeker">
    </div>
    <div class="col-sm-1">
        <button type="button" class="btn btn-delete background-dark fa-solid fa-trash-can"></button>
    </div>
</div>