@model BumboSolid.Data.Models.AvailabilityRule

@{
    ViewData["Title"] = "Beschikbaarheid toevoegen";
}

<h1>Beschikbaarheid Toevoegen</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" id="year" name="year" value="@ViewBag.Year" />
            <input type="hidden" id="weekNr" name="weekNr" value="@ViewBag.WeekNr" />

            <div class="form-group">
                <label asp-for="Date" class="control-label">Datum</label>
                <input required asp-for="Date" id="firstday" class="form-control" type="date" value="null" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="d-flex flex-row">
                <div class="form-group mb-3">
                    <label asp-for="StartTime" class="control-label">Starttijd</label>
                    <input required asp-for="StartTime" class="form-control" type="time" value="null" />
                    <span asp-validation-for="StartTime" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="EndTime" class="control-label">Eindtijd</label>
                    <input required asp-for="EndTime" class="form-control" type="time" value="null" />
                    <span asp-validation-for="EndTime" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="Availability" class="control-label">Beschikbaarheid</label>
                <select id="Availability" name="Availability" class="form-control">
                    <option value="Available">Beschikbaar</option>
                    <option value="Unavailable">Niet beschikbaar</option>
                    <option value="School">School</option>
                </select>
            </div>

            <div class="form-group">
                <button type="submit" class="btn bumbo-btn">Toevoegen</button>
                <a type="button" class="btn early-btn btn-secondary" asp-action="Index">Terug</a>
            </div>
        </form>
    </div>
</div>