@model BumboSolid.Models.CLAManageViewModel

@{
    ViewData["Title"] = "CAO regel toevoegen";
}
<div class="row align-items-center">
    <div class="col-auto">
        <a class="btn" asp-controller="CLA" asp-action="Index">Terug</a>
    </div>
    <div class="text-center">
        <h1>CAO Regel Toevoegen</h1>
    </div>
</div>
<h4></h4>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-1"></div>
            <hr class="col-md-10" />
        </div>

        <div class="col-md-12">
            <form asp-controller="CAO" asp-action="Toevoegen">
                <div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="form-group col-5">
                        <label asp-for="AgeStart" class="control-label">Begin leeftijd</label>
                        <input asp-for="AgeStart" class="form-control" />
                        <span asp-validation-for="AgeStart" class="text-danger"></span>
                    </div>
                    <div class="form-group col-5">
                        <label asp-for="AgeEnd" class="control-label">Eind leeftijd</label>
                        <input asp-for="AgeEnd" class="form-control" />
                        <span asp-validation-for="AgeEnd" class="text-danger"></span>
                    </div>
                </div>
                <div class="row align-items-end">
                    <div class="form-group col-11">
                        <label asp-for="MaxWorkDurationPerDay" class="control-label">Maximale werkduur per dag</label>
                        <input asp-for="MaxWorkDurationPerDay" class="form-control" />
                        <span asp-validation-for="MaxWorkDurationPerDay" class="text-danger"></span>
                    </div>
                    <div class="form-group col-1 p-2">
                        <select asp-for="MaxDayDurationHours" class="w-100">
                            <option value="true">Uren</option>
                            <option value="false">Minuten</option>
                        </select>
                    </div>
                </div>
                <div class="row align-items-end">
                    <div class="form-group col-11">
                        <label asp-for="MaxShiftDuration" class="control-label">Maximale shiftduur</label>
                        <input asp-for="MaxShiftDuration" class="form-control" />
                        <span asp-validation-for="MaxShiftDuration" class="text-danger"></span>
                    </div>
                    <div class="form-group col-1 p-2">
                        <select asp-for="MaxTotalShiftDurationHours" class="w-100">
                            <option value="true">Uren</option>
                            <option value="false">Minuten</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="MaxWorkDaysPerWeek" class="control-label">Maximale werkdagen per week</label>
                    <input asp-for="MaxWorkDaysPerWeek" class="form-control" />
                    <span asp-validation-for="MaxWorkDaysPerWeek" class="text-danger"></span>
                </div>
                <div class="row align-items-end">
                    <div class="form-group col-11">
                        <label asp-for="MaxWorkDurationPerWeek" class="control-label">Maximale werkduur per week</label>
                        <input asp-for="MaxWorkDurationPerWeek" class="form-control" />
                        <span asp-validation-for="MaxWorkDurationPerWeek" class="text-danger"></span>
                    </div>
                    <div class="form-group col-1 p-2">
                        <select asp-for="MaxWeekDurationHours" class="w-100">
                            <option value="true">Uren</option>
                            <option value="false">Minuten</option>
                        </select>
                    </div>
                </div>
                <div class="row align-items-end">
                    <div class="form-group col-11">
                        <label asp-for="MaxWorkDurationPerHolidayWeek" class="control-label">Maximale werkduur per vakantieweek</label>
                        <input asp-for="MaxWorkDurationPerHolidayWeek" class="form-control" />
                        <span asp-validation-for="MaxWorkDurationPerHolidayWeek" class="text-danger"></span>
                    </div>
                    <div class="form-group col-1 p-2">
                        <select asp-for="MaxHolidayDurationHours" class="w-100">
                            <option value="true">Uren</option>
                            <option value="false">Minuten</option>
                        </select>
                    </div>
                </div>
                <div class="row align-items-end">

                    <div class="form-group col-11">
                        <label asp-for="MaxAvgWeeklyWorkDurationOverFourWeeks" class="control-label">Maximale gemiddelde werkduur per week over vier weken</label>
                        <input asp-for="MaxAvgWeeklyWorkDurationOverFourWeeks" class="form-control" />
                        <span asp-validation-for="MaxAvgWeeklyWorkDurationOverFourWeeks" class="text-danger"></span>
                    </div>
                    <div class="form-group col-1 p-2">
                        <select asp-for="MaxAvgDurationHours" class="w-100">
                            <option value="true">Uren</option>
                            <option value="false">Minuten</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label asp-for="EarliestWorkTime" class="control-label">Vroegste toegestane werktijd</label>
                        <input asp-for="EarliestWorkTime" class="form-control" />
                        <span asp-validation-for="EarliestWorkTime" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="LatestWorkTime" class="control-label">Laatste toegestane werktijd</label>
                        <input asp-for="LatestWorkTime" class="form-control" />
                        <span asp-validation-for="LatestWorkTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="row align-items-end">
                    <div class="form-group col-5">
                        <label asp-for="BreakWorkDuration" class="control-label">Maximale werktijd zonder pauze</label>
                        <input asp-for="BreakWorkDuration" class="form-control" />
                        <span asp-validation-for="BreakWorkDuration" class="text-danger"></span>
                    </div>
                    <div class="form-group col-1 p-2">
                        <select asp-for="MaxUninterruptedShiftDurationHours" class="w-100">
                            <option value="true">Uren</option>
                            <option value="false">Minuten</option>
                        </select>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="BreakMinBreakDuration" class="control-label">Minimale pauzetijd hierbij</label>
                        <input asp-for="BreakMinBreakDuration" class="form-control" />
                        <span asp-validation-for="BreakMinBreakDuration" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group pt-2">
                    <input type="submit" value="Voeg Toe" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
