html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
}

h6 {
    font-size: 1vw;
    font-weight: bold;
    font-style: italic;
    min-height: 5.5vh;
}

hr {
    min-height: 0.3vh;
}

th, td {
    padding: 5px;
    text-align: center;
}

li {
    list-style-type: none;
    margin: 14px;
    text-align: right;
    font-weight: bold;
}

p {
    text-align: center;
}

.fa-chart-simple {
    width: 2vw;
    height: 2vw;
}

#modal-holiday-custom {
    max-width: 50%;
    width: 50%;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
}

.square {
    height: 2vw;
    width: 2vw;
    padding-bottom: 20%
}

.background-dark {
    background-color: darkgray;
    border-radius: 10px;
    margin: 10px;
}

.background-light {
    background-color: lightgray;
    border-radius: 10px;
    margin: 10px;
}

.background-white {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}

.prognosis-table {
    padding: 25px 10px 25px 10px;
    margin: 25px 10px 25px 10px;
    width: 20%;
    text-align: center;
}

.btn {
    border-radius: 10px;
    width: 15vw;
    height: 7vh;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 1vw;
    border: none;
}

.factor-buttons {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.factor-buttons button {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 10px;
    font-size: 1vw;
    background-color: lightgray;
    color: black;
    cursor: pointer;
}

.save-button {
    margin: 1vw auto 1vw auto;
    height: 4vw;
}

.impact-changeable {
    color: black;
}

.impact-unchangeable {
    color: white;
}

.modal-lg-custom {
    max-width: 60%;
    width: 60%;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
}

.save-button {
    margin: 1vw auto 1vw auto;
    height: 4vw;
}

.holiday-name {
    height: 5vh;
    width: 15vw;
    min-width: 100px;
}

.holiday-date {
    height: 5vh;
    width: 4vw;
    min-width: 100px;
}

#prognosis-scrollbar {
    width: 100%;
    height: 55vh;
    line-height: 3em;
    overflow: auto;
    margin: 5% 5% 5% 0%;
}

#holidays-scrollbar {
    width: 100%;
    height: 45vh;
    line-height: 3em;
    overflow: auto;
    margin-bottom: 5vh;
}

#prognosis-weekdays {
    margin-top: 8%;
}

#prognosis-tables-spacing {
    margin-left: 5%;
}

#selected-prognosis-background {
    width: 100%;
}

#prognosis-date {
    color: white;
    margin: 0% 12% 0% 12%;
    width: 23vw;
    text-align: center;
}

#prognosis-factor-button {
    margin: auto;
}

#norm-view {
    position: absolute;
    min-width: 170%;
}

.norm-row {
    min-width: 90%;
}

.dropdown-better {
    width: min-content;
}
.grouped-padding {
    padding-left: 5px;
    padding-right: 5px;
}

.btn-delete {
    width: min-content;
    height: min-content;
}

.btn-norm {
    width: 91%;
    margin-left: -0.05vw;
}

.int-edit {
    width: 30%;
}