html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

table {
    border-collapse: separate;
    border-spacing: 5px;
}

.table-gray {
    --bs-table-bg: darkgray;
}

h6 {
    font-size: 1vw;
    font-weight: bold;
    font-style: italic;
    min-height: 5.5vh;
}

hr {
    min-height: 0.3vh;
}

li {
    list-style-type: none;
    margin: 14px;
    text-align: right;
    font-weight: bold;
}

p {
    text-align: center;
}

.fa-chart-simple {
    width: 2vw;
    height: 2vw;
}

#modal-holiday-manage-custom {
    max-width: 70vw;
    width: 70vw;
}

#holiday-chart {
    max-width: 63vw;
    max-height: 55vh;
    margin: 2vh 2vh;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
}

.square {
    height: 2vw;
    width: 2vw;
    padding-bottom: 20%
}

.background-dark {
    background-color: darkgray;
    border-radius: 10px;
    border: none;
}

.background-light {
    background-color: lightgray;
    border-radius: 10px;
    border: none;
}

.background-white {
    background-color: white;
    border-radius: 10px;
    border: none;
}

.prognosis-table {
    padding: 25px 10px 25px 10px;
    margin: 25px 10px 25px 10px;
    width: 10rem;
    text-align: center;
}

.btn {
    border-radius: 10px;
    min-width: 15vw;
    min-height: 7vh;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    border: none;
    margin: 1vw auto 1vw auto;
    white-space: normal;
    line-height: 5vh;
}

.factor-buttons {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

    .factor-buttons button {
        width: 100%;
        padding: 5px;
        border: none;
        border-radius: 10px;
        font-size: 1vw;
        background-color: lightgray;
        color: black;
        cursor: pointer;
    }

.impact-changeable {
    color: black;
}

.impact-unchangeable {
    color: white;
}

.impact-unchangeable-dark {
    color: grey;
}

.modal-lg-custom {
    max-width: 60%;
    width: 60%;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
}

.save-button {
    margin: 1vw auto 1vw auto;
    height: 4vw;
}

.holiday-name {
    height: 50px;
    width: 150px;
    margin: 0.5vw;
}

.holiday-date {
    height: 50px;
    width: 75px;
    margin: 0.5vw;
}

.holiday-impact {
    height: 50px;
    width: 75px;
    margin: 0.5vw;
    text-align: center;
}

.holiday-create {
    height: 50px;
    width: 150px;
    margin: 0.5vw;
    text-align: center;
}

.remove-text-decoration {
    text-decoration: none;
    color: black;
}

    .remove-text-decoration:hover {
        text-decoration: none;
        color: black;
    }

.fa-solid {
    vertical-align: middle;
}

.holiday-impact:hover {
    color: black;
}

.holiday-title {
    height: 50px;
    width: 160px;
    margin: 0.5vh 0.5vw 0vh 0.5vw;
}

#holiday-impact-title {
    height: 50px;
    margin: 0.5vh 0.5vw 0vh 0.5vw;
}

.auto-margin {
    margin: auto;
}

#prognosis-scrollbar {
    width: 100%;
    height: 55vh;
    line-height: 3em;
    overflow: auto;
    margin: 5% 5% 5% 0%;
}

#holidays-scrollbar {
    width: 100vw;
    height: 45vh;
    line-height: 3em;
    overflow: auto;
    margin-bottom: 5vh;
}

#norms-scrollbar {
    width: 100%;
    height: 45vh;
    line-height: 3em;
    overflow-y: auto;
}

#prognosis-weekdays {
    margin-top: 13vh;
}

.prognosis-index {
    height: 7vh;
    margin-bottom: 5vh;
}

#prognosis-tables-spacing {
    margin-left: 5%;
}

#selected-prognosis-background {
    width: 100%;
}

#add-holiday-button {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 1vw;
    color: white;
    line-height: 1vw;
}

#add-norm-button {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 1vw;
    color: white;
    line-height: 1vw;
    height: 35px;
    width: 180px;
}

#prognosis-date-box {
    color: white;
    margin: 0vh 5vw 2vh 5vw;
    width: 23vw;
    max-height: 8vh;
}

#prognosis-date {
    text-align: center;
    line-height: 7vh;
}

#norm-view {
    position: absolute;
    min-width: 170%;
}

.norm-row {
    max-width: 100%;
}

.dropdown-better {
    width: min-content;
}

.grouped-padding {
    padding-left: 5px;
    padding-right: 5px;
}

.btn-delete {
    width: min-content;
    height: min-content;
}

.btn-norm {
    width: 91%;
    margin-left: -0.05vw;
}

.small-input {
    min-width: 4rem;
    height: 2.5rem;
}

#graph-impact-title {
    transform-origin: 0 0;
    transform: rotate(90deg);
    margin: auto 0 auto 0;
    text-align: center;
    padding: 0;
    position: relative;
    left: 2.5vw;
}

#graph-days-title {
    margin: auto 0 auto 0;
    text-align: center;
    padding: 0;
}

.table {
    border-spacing: 1rem 0;
}

    .table > tbody {
        vertical-align: middle;
    }

    .table > :not(caption) > * > * {
        padding: 0.5rem 1rem;
    }

th, td {
    padding: 5px;
    text-align: center;
}

.factor-description {
    resize: none;
}

.table-button {
    border-radius: 10px;
    min-width: 3vw;
}
