<div class="modal-body">
	<div class="d-flex flex-row">
		<h6 class="holiday-title">Feest</h6>
		<h6 class="holiday-title">Dagen</h6>
		<h6 id="holiday-impact-title">Invloed</h6>
	</div>
	<div id="holidays-scrollbar">
		<div class="d-flex flex-row">
			<input class="p-2 form-control background-dark holiday-name" placeholder="Feest naam">
			<input class="p-2 form-control background-dark holiday-date" placeholder="Begin">
			<input class="p-2 form-control background-dark holiday-date" placeholder="Eind">
			<a class="p-2 background-dark holiday-date fa-solid fa-chart-simple" asp-controller="Feestdagen" asp-action="Bewerken"></a>
		</div>
		<div class="d-flex flex-row">
			<button class="background-dark holiday-name" id="add-holiday-button">+</button>
		</div>
	</div>
</div>
