USE [master]
GO
/****** Object:  Database [BumboDB]    Script Date: 11-10-2024 14:57:04 ******/
CREATE DATABASE [BumboDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BumboDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BumboDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BumboDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BumboDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BumboDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BumboDB]
GO
/****** Object:  Table [dbo].[Factor]    Script Date: 11-10-2024 14:57:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factor](
	[Prognosis_ID] [int] NOT NULL,
	[Type] [varchar](25) NOT NULL,
	[Weekday] [tinyint] NOT NULL,
	[Weather_ID] [tinyint] NULL,
	[Impact] [smallint] NOT NULL,
	[Description] [text] NULL,
 CONSTRAINT [PK_Factor] PRIMARY KEY CLUSTERED 
(
	[Prognosis_ID] ASC,
	[Type] ASC,
	[Weekday] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactorType]    Script Date: 11-10-2024 14:57:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactorType](
	[Type] [varchar](25) NOT NULL,
 CONSTRAINT [PK_FactorType] PRIMARY KEY CLUSTERED 
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Function]    Script Date: 11-10-2024 14:57:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Function](
	[Name] [varchar](25) NOT NULL,
 CONSTRAINT [PK_Function] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Holiday]    Script Date: 11-10-2024 14:57:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holiday](
	[Name] [varchar](25) NOT NULL,
 CONSTRAINT [PK_Holiday] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HolidayDay]    Script Date: 11-10-2024 14:57:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HolidayDay](
	[Holiday_Name] [varchar](25) NOT NULL,
	[Date] [date] NOT NULL,
	[Impact] [smallint] NOT NULL,
 CONSTRAINT [PK_HolidayDay] PRIMARY KEY CLUSTERED 
(
	[Holiday_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Norm]    Script Date: 11-10-2024 14:57:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Norm](
	[ID] [int] NOT NULL,
	[Activity] [varchar](100) NOT NULL,
	[Function] [varchar](25) NOT NULL,
	[Duration] [int] NOT NULL,
	[AvgDailyPerformances] [tinyint] NOT NULL,
	[PerVisitor] [bit] NOT NULL,
 CONSTRAINT [PK_Norm] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prognosis]    Script Date: 11-10-2024 14:57:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prognosis](
	[ID] [int] NOT NULL,
	[Year] [smallint] NOT NULL,
	[Week] [tinyint] NOT NULL,
 CONSTRAINT [PK_Prognosis] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrognosisDay]    Script Date: 11-10-2024 14:57:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrognosisDay](
	[Prognosis_ID] [int] NOT NULL,
	[Weekday] [tinyint] NOT NULL,
	[VisitorEstimate] [int] NOT NULL,
 CONSTRAINT [PK_PrognosisDay] PRIMARY KEY CLUSTERED 
(
	[Prognosis_ID] ASC,
	[Weekday] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrognosisFunction]    Script Date: 11-10-2024 14:57:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrognosisFunction](
	[Prognosis_ID] [int] NOT NULL,
	[Function] [varchar](25) NOT NULL,
	[Weekday] [tinyint] NOT NULL,
	[Staff] [decimal](3, 2) NOT NULL,
	[WorkHours] [smallint] NOT NULL,
 CONSTRAINT [PK_PrognosisFunction] PRIMARY KEY CLUSTERED 
(
	[Prognosis_ID] ASC,
	[Function] ASC,
	[Weekday] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Weather]    Script Date: 11-10-2024 14:57:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Weather](
	[ID] [tinyint] NOT NULL,
	[Impact] [smallint] NOT NULL,
 CONSTRAINT [PK_Weather] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Factor]  WITH CHECK ADD  CONSTRAINT [FK_Factor_FactorType] FOREIGN KEY([Type])
REFERENCES [dbo].[FactorType] ([Type])
GO
ALTER TABLE [dbo].[Factor] CHECK CONSTRAINT [FK_Factor_FactorType]
GO
ALTER TABLE [dbo].[Factor]  WITH CHECK ADD  CONSTRAINT [FK_Factor_PrognosisDay] FOREIGN KEY([Prognosis_ID], [Weekday])
REFERENCES [dbo].[PrognosisDay] ([Prognosis_ID], [Weekday])
GO
ALTER TABLE [dbo].[Factor] CHECK CONSTRAINT [FK_Factor_PrognosisDay]
GO
ALTER TABLE [dbo].[Factor]  WITH CHECK ADD  CONSTRAINT [FK_Factor_Weather] FOREIGN KEY([Weather_ID])
REFERENCES [dbo].[Weather] ([ID])
GO
ALTER TABLE [dbo].[Factor] CHECK CONSTRAINT [FK_Factor_Weather]
GO
ALTER TABLE [dbo].[Function]  WITH CHECK ADD  CONSTRAINT [FK_Function_Function] FOREIGN KEY([Name])
REFERENCES [dbo].[Function] ([Name])
GO
ALTER TABLE [dbo].[Function] CHECK CONSTRAINT [FK_Function_Function]
GO
ALTER TABLE [dbo].[HolidayDay]  WITH CHECK ADD  CONSTRAINT [FK_HolidayDay_Holiday] FOREIGN KEY([Holiday_Name])
REFERENCES [dbo].[Holiday] ([Name])
GO
ALTER TABLE [dbo].[HolidayDay] CHECK CONSTRAINT [FK_HolidayDay_Holiday]
GO
ALTER TABLE [dbo].[Norm]  WITH CHECK ADD  CONSTRAINT [FK_Norm_Function] FOREIGN KEY([Function])
REFERENCES [dbo].[Function] ([Name])
GO
ALTER TABLE [dbo].[Norm] CHECK CONSTRAINT [FK_Norm_Function]
GO
ALTER TABLE [dbo].[PrognosisDay]  WITH CHECK ADD  CONSTRAINT [FK_PrognosisDay_Prognosis] FOREIGN KEY([Prognosis_ID])
REFERENCES [dbo].[Prognosis] ([ID])
GO
ALTER TABLE [dbo].[PrognosisDay] CHECK CONSTRAINT [FK_PrognosisDay_Prognosis]
GO
ALTER TABLE [dbo].[PrognosisFunction]  WITH CHECK ADD  CONSTRAINT [FK_PrognosisFunction_Function] FOREIGN KEY([Function])
REFERENCES [dbo].[Function] ([Name])
GO
ALTER TABLE [dbo].[PrognosisFunction] CHECK CONSTRAINT [FK_PrognosisFunction_Function]
GO
ALTER TABLE [dbo].[PrognosisFunction]  WITH CHECK ADD  CONSTRAINT [FK_PrognosisFunction_PrognosisDay] FOREIGN KEY([Prognosis_ID], [Weekday])
REFERENCES [dbo].[PrognosisDay] ([Prognosis_ID], [Weekday])
GO
ALTER TABLE [dbo].[PrognosisFunction] CHECK CONSTRAINT [FK_PrognosisFunction_PrognosisDay]
GO
USE [master]
GO
