@model BumboSolid.Data.Models.CLASurchargeEntry

@{
	ViewData["Title"] = "CLA Toeslag Regel Bewerken";
	string[] daysOfTheWeek = { "Maandag", "Dinsdag", "Woensdag", "Donderdag", "Vrijdag", "Zaterdag", "Zondag" };
}

<header class="d-flex align-items-center gap-3 justify-content-center gap-3">
	<div class="w-100 d-flex justify-content-end">
		<a class="btn new-btn" asp-controller="CLA" asp-action="Index">Terug</a>
	</div>
	<div class="mx-3 text-center text-nowrap">
		<h1>CAO Toeslag Regel Bewerken</h1>
	</div>
	<div class="w-100"></div>
</header>

<div class="row justify-content-center">
	<div class="col-md-10">
		<form asp-controller="CAO" asp-action="ToeslagBewerken">
			<div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>
			<input type="hidden" asp-for="Id" />
			<div class="row pb-2">
				<div class="form-group col-md-6">
					<label asp-for="Surcharge" class="control-label fw-bold">Toeslag in %</label>
					<input asp-for="Surcharge" class="form-control p-1 border-solid-black" />
					<span asp-validation-for="Surcharge" class="text-danger"></span>
				</div>
				<div class="form-group col-md-6">
					<label asp-for="Weekday" class="control-label fw-bold">Dag</label>
					<select asp-for="Weekday" class="form-control p-1 border-solid-black">
						@for (int i = 0; i < daysOfTheWeek.Length; i++)
						{
							<option value="@i">@daysOfTheWeek[i]</option>
						}
					</select>
					<span asp-validation-for="Weekday" class="text-danger"></span>
				</div>
			</div>
			<div class="row pb-2">
				<div class="form-group col-md-6">
					<label asp-for="StartTime" class="control-label fw-bold">Start Tijd</label>
					<input asp-for="StartTime" class=" form-control p-1 border-solid-black" type="time" />
					<span asp-validation-for="StartTime" class="text-danger"></span>
				</div>
				<div class="form-group col-md-6">
					<label asp-for="EndTime" class="control-label fw-bold">Eind Tijd</label>
					<input asp-for="EndTime" class=" form-control p-1 border-solid-black" type="time" />
					<span asp-validation-for="EndTime" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group pt-2 col-12">
				<input type="submit" value="Opslaan" class="btn new-btn w-100" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
