@model IEnumerable<BumboSolid.Web.Models.HolidayViewModel>

<script src="https://kit.fontawesome.com/981e782106.js" crossorigin="anonymous"></script>

<div class="d-flex flex-row">
	<h6 class="holiday-title">Feest</h6>
	<h6 class="holiday-title">Dagen</h6>
	<h6 id="holiday-impact-title">Invloed</h6>
</div>
<div id="holidays-scrollbar">
	<form>
		@foreach (var holiday in Model)
		{
			<div class="d-flex flex-row">
				<input class="p-2 form-control holiday-name" placeholder="Feest naam" value="@holiday.Holiday.Name">
				<input class="p-2 form-control holiday-date" placeholder="Begin" value="@holiday.FirstDay.Day-@holiday.FirstDay.Month">
				<input class="p-2 form-control holiday-date" placeholder="Eind" value="@holiday.LastDay.Day-@holiday.LastDay.Month">
				<a class="p-2 holiday-impact remove-text-decoration" asp-controller="Feestdagen" asp-action="Bewerken" asp-route-id=@holiday.Holiday.Name><span class="fa-solid fa-chart-simple"></span></a>
			</div>
		}
	</form>
</div>

<div class="d-flex flex-row norm-row">
	<div class="col-sm-3">
		<button type="button" class="btn btn-primary">+</button>
	</div>
</div>

<div class="d-flex flex-row">
	<a asp-controller="Home" asp-action="Index" type="button" class="btn btn-primary">Terug</a>
</div>