@model IEnumerable<BumboSolid.Models.HolidayViewModel>

<script src="https://kit.fontawesome.com/981e782106.js" crossorigin="anonymous"></script>

<div class="d-flex flex-row">
	<h6 class="holiday-title">Feest</h6>
	<h6 class="holiday-title">Dagen</h6>
	<h6 id="holiday-impact-title">Invloed</h6>
</div>
<div id="holidays-scrollbar">
	<form>
		@foreach (var holiday in Model)
		{
			<div class="d-flex flex-row">
				<input class="p-2 form-control holiday-name" placeholder="Feest naam" value="@holiday.Name" readonly>
				<input class="p-2 form-control holiday-date" placeholder="Begin" value="@holiday.FirstDay.Day-@holiday.FirstDay.Month" readonly>
				<input class="p-2 form-control holiday-date" placeholder="Eind" value="@holiday.LastDay.Day-@holiday.LastDay.Month" readonly>
				<a class="p-2 holiday-impact remove-text-decoration" asp-controller="Feestdagen" asp-action="Bewerken" asp-route-id=@holiday.Name><span class="fa-solid fa-chart-simple"></span></a>
			</div>
		}
	</form>
</div>


<div class="col-4">
	<a asp-controller="Feestdagen" asp-action="Aanmaken" type="button" class="btn early-btn btn-primary w-100">+</a>
	<a asp-controller="Prognoses" asp-action="" type="button" class="btn early-btn btn-secondary w-100">Terug</a>
</div>
