@model IEnumerable<BumboSolid.Models.AvailabilityRuleViewModel>

@{
    ViewData["Title"] = "Index";
}

<script src="https://kit.fontawesome.com/981e782106.js" crossorigin="anonymous"></script>

<a class="navbar-brand" asp-area="" asp-controller="Availability" asp-action="Create">Toevoegen</a>

@foreach (var availiabilityRule in Model)
{
    <div class="d-flex flex-row">
        <h1>@availiabilityRule.Day</h1>
        <h1>@availiabilityRule.StartTime</h1>
        <h1>@availiabilityRule.EndTime</h1>
        <h1>@availiabilityRule.Available</h1>
        <a class="navbar-brand" asp-area="" asp-controller="Availability" asp-action="Edit"><i class="fa-solid fa-pencil"></i></a>
        <a class="navbar-brand" asp-area="" asp-controller="Availability" asp-action="Delete"><i class="fa-solid fa-trash"></i></a>
    </div>
}