@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-row">

    <!--Prognosis list and impact buttons-->
    <div class="p-2">
        <button class="btn btn-primary"> Prognose Aanmaken </button>

        <div class="background-dark" id="prognosis-scrollbar"></div>

        <button class="btn btn-primary"> Normeringen Beheren </button>

        <div></div>

        <button class="btn btn-primary"> Feestdagen Beheren </button>
    </div>

    <!--Selected prognosis menu-->
    <div class="p-2" id="selected-prognosis-background">

        <!--Switching between prognosis-->
        <div class="d-flex flex-row">
            <button class="btn btn-primary"> ← Vorige Week </button>

            <div class="background-dark" id="prognosis-date">
                <h6> --/--/---- - --/--/---- </h6>
            </div>

            <button class="btn btn-primary disabled"> Volgende Week → </button>
        </div>

        <!--Info about prognosis-->
        <div class="background-dark">
            <div class="d-flex flex-row">
                <ul class="p-2" id="prognosis-weekdays">
					<li>Maandag</li>
					<li>Dinsdag</li>
					<li>Woensdag</li>
					<li>Donderdag</li>
					<li>Vrijdag</li>
					<li>Zaterdag</li>
					<li>Zondag</li>
				</ul>

                <!--Kassa-->
                <div class="p-2 background-white prognosis-table">
                    <h6>Kassa</h6>

                    <hr>

                    <table>
                        <tr>
                            <td class="background-light impact-unchangeable">...</td>
                            <td class="background-dark impact-unchangeable">...</td>
                        </tr>
                        <tr>
                            <td class="background-light impact-unchangeable">...</td>
                            <td class="background-dark impact-unchangeable">...</td>
                        </tr>
                        <tr>
                            <td class="background-light impact-unchangeable">...</td>
                            <td class="background-dark impact-unchangeable">...</td>
                        </tr>
                        <tr>
                            <td class="background-light impact-unchangeable">...</td>
                            <td class="background-dark impact-unchangeable">...</td>
                        </tr>
                        <tr>
                            <td class="background-light impact-unchangeable">...</td>
                            <td class="background-dark impact-unchangeable">...</td>
                        </tr>
                        <tr>
                            <td class="background-light impact-unchangeable">...</td>
                            <td class="background-dark impact-unchangeable">...</td>
                        </tr>
                        <tr>
                            <td class="background-light impact-unchangeable">...</td>
                            <td class="background-dark impact-unchangeable">...</td>
                        </tr>
                    </table>
                </div>

                <!--Vakkenvullen-->
                <div class="p-2 background-white prognosis-table">
                    <h6>Vakkenvullen</h6>

                    <hr>

                    <table>
                        <tr>
                            <td class="background-light impact-unchangeable">...</td>
                            <td class="background-dark impact-unchangeable">...</td>
                        </tr>
                        <tr>
                            <td class="background-light impact-unchangeable">...</td>
                            <td class="background-dark impact-unchangeable">...</td>
                        </tr>
                        <tr>
                            <td class="background-light impact-unchangeable">...</td>
                            <td class="background-dark impact-unchangeable">...</td>
                        </tr>
                        <tr>
                            <td class="background-light impact-unchangeable">...</td>
                            <td class="background-dark impact-unchangeable">...</td>
                        </tr>
                        <tr>
                            <td class="background-light impact-unchangeable">...</td>
                            <td class="background-dark impact-unchangeable">...</td>
                        </tr>
                        <tr>
                            <td class="background-light impact-unchangeable">...</td>
                            <td class="background-dark impact-unchangeable">...</td>
                        </tr>
                        <tr>
                            <td class="background-light impact-unchangeable">...</td>
                            <td class="background-dark impact-unchangeable">...</td>
                        </tr>
                    </table>
                </div>

                <!--Vers-->
                <div class="p-2 background-white prognosis-table">
                    <h6>Vers</h6>

                    <hr>

					<table>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
                    </table>
                </div>

                <!--Externe factoren-->
                <div class="p-2 background-white prognosis-table" id="prognosis-tables-spacing">
                    <h6>Externe Factoren</h6>

                    <hr>

                    <table>
                        <tr> <td class="background-light impact-unchangeable">...</td> </tr>
                        <tr> <td class="background-light impact-unchangeable">...</td> </tr>
                        <tr> <td class="background-light impact-unchangeable">...</td> </tr>
                        <tr> <td class="background-light impact-unchangeable">...</td> </tr>
                        <tr> <td class="background-light impact-unchangeable">...</td> </tr>
                        <tr> <td class="background-light impact-unchangeable">...</td> </tr>
                        <tr> <td class="background-light impact-unchangeable">...</td> </tr>
                    </table>
                </div>

                <!--Verwachte bezoekersdrukte-->
                <div class="p-2 background-white prognosis-table">
                    <h6>Verwachte Bezoekersdrukte</h6>

                    <hr>

                    <table>
                        <tr> <td class="background-light impact-unchangeable">...</td> </tr>
                        <tr> <td class="background-light impact-unchangeable">...</td> </tr>
                        <tr> <td class="background-light impact-unchangeable">...</td> </tr>
                        <tr> <td class="background-light impact-unchangeable">...</td> </tr>
                        <tr> <td class="background-light impact-unchangeable">...</td> </tr>
                        <tr> <td class="background-light impact-unchangeable">...</td> </tr>
                        <tr> <td class="background-light impact-unchangeable">...</td> </tr>
                    </table>
                </div>
            </div>

            <div class="d-flex flex-row">
                <div class="d-flex flex-row background-white">
                    <div class="p-2 background-light square"></div>

                    <p class="p-2">Personeel</p>

                    <div class="p-2 background-dark square"></div>

                    <p class="p-2">Werkuren</p>
                </div>

                <button class="p-2 btn btn-primary" id="prognosis-factor-button"> Factoren Bewerken </button>
            </div>
        </div>
    </div>
</div>
