@{
	ViewData["Title"] = "Home Page";
}

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="d-flex flex-row">

	<!--Prognosis list and impact buttons-->
	<div class="p-2">
		<button class="btn btn-primary">Prognose Aanmaken</button>

		<div class="background-dark" id="prognosis-scrollbar"></div>

		<button class="btn btn-primary">Normeringen Beheren</button>

		<div></div>

		<button class="btn btn-primary">Feestdagen Beheren</button>
	</div>

	<!--Selected prognosis menu-->
	<div class="p-2" id="selected-prognosis-background">

		<!--Switching between prognosis-->
		<div class="d-flex flex-row">
			<button class="btn btn-primary">← Vorige Week</button>

			<div class="background-dark" id="prognosis-date">
				<h6>--/--/---- - --/--/---- </h6>
			</div>

			<button class="btn btn-primary disabled">Volgende Week →</button>
		</div>

		<!--Info about prognosis-->
		<div class="background-dark">
			<div class="d-flex flex-row">
				<ul class="p-2" id="prognosis-weekdays">
					<li>Maandag</li>
					<li>Dinsdag</li>
					<li>Woensdag</li>
					<li>Donderdag</li>
					<li>Vrijdag</li>
					<li>Zaterdag</li>
					<li>Zondag</li>
				</ul>

				<!--Cashier-->
				<div class="p-2 background-white prognosis-table">
					<h6>Kassa</h6>

					<hr>

					<table>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
					</table>
				</div>

				<!--Stocker-->
				<div class="p-2 background-white prognosis-table">
					<h6>Vakkenvullen</h6>

					<hr>

					<table>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
					</table>
				</div>

				<!--Fresh-->
				<div class="p-2 background-white prognosis-table">
					<h6>Vers</h6>

					<hr>

					<table>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
					</table>
				</div>

				<!--External factors-->
				<div class="p-2 background-white prognosis-table" id="prognosis-tables-spacing">
					<h6>Externe Factoren</h6>

					<hr>

					<table>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
					</table>
				</div>

				<!--Expected visitors-->
				<div class="p-2 background-white prognosis-table">
					<h6>Verwachte Bezoekersdrukte</h6>

					<hr>

					<table>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
					</table>
				</div>
			</div>

			<div class="d-flex flex-row">
				<div class="d-flex flex-row background-white">
					<div class="p-2 background-light square"></div>

					<p class="p-2">Personeel</p>

					<div class="p-2 background-dark square"></div>

					<p class="p-2">Werkuren</p>
				</div>

				<!--Manage Factors button-->
				<button class="p-2 btn btn-primary" id="prognosis-factor-button" data-toggle="modal" data-target="#factorModal">Factoren Beheren</button>

				<!--Manage Factors pop-up modal-->
				<div class="modal fade" id="factorModal" tabindex="-1" role="dialog" aria-labelledby="factorModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg-custom" role="document">
						<div class="modal-content background-light">
							<div class="modal-body">
								<!--content-->
								<ul class="p-2" id="prognosis-weekdays">
									<li>Maandag</li>
									<li>Dinsdag</li>
									<li>Woensdag</li>
									<li>Donderdag</li>
									<li>Vrijdag</li>
									<li>Zaterdag</li>
									<li>Zondag</li>
								</ul>

								<div class="p-2 background-white prognosis-table">
									<h6>Schatting Bezoekersdrukte</h6>

									<hr>

									<table>
										<tr><td class="background-light impact-changeable">...</td></tr>
										<tr><td class="background-light impact-changeable">...</td></tr>
										<tr><td class="background-light impact-changeable">...</td></tr>
										<tr><td class="background-light impact-changeable">...</td></tr>
										<tr><td class="background-light impact-changeable">...</td></tr>
										<tr><td class="background-light impact-changeable">...</td></tr>
										<tr><td class="background-light impact-changeable">...</td></tr>
									</table>
								</div>

								<div class="p-2 background-dark prognosis-table">
									<h6>Feestdagen</h6>

									<hr>

									<table>
										<tr><td class="background-light impact-changeable">...</td></tr>
										<tr><td class="background-light impact-changeable">...</td></tr>
										<tr><td class="background-light impact-changeable">...</td></tr>
										<tr><td class="background-light impact-changeable">...</td></tr>
										<tr><td class="background-light impact-changeable">...</td></tr>
										<tr><td class="background-light impact-changeable">...</td></tr>
										<tr><td class="background-light impact-changeable">...</td></tr>
									</table>
								</div>

								<div class="p-2 background-white prognosis-table">
									<h6>
										Weer
										<button type="button" data-toggle="modal" data-target="#editWeatherModal">
											Edit
										</button>
									</h6>
									<hr>
									<div class="d-flex flex-column">

										<!-- Weather selection -->
										<div class="d-flex flex-row align-items-center">
											<select class="ml-2 form-control weather-select">
												<option value="sunny">Sunny</option>
												<option value="cloudy">Cloudy</option>
												<option value="rainy">Rainy</option>
												<option value="stormy">Stormy</option>
												<option value="snowy">Snowy</option>
											</select>
										</div>

										<div class="d-flex flex-row align-items-center">
											<select class="ml-2 form-control weather-select">
												<option value="sunny">Sunny</option>
												<option value="cloudy">Cloudy</option>
												<option value="rainy">Rainy</option>
												<option value="stormy">Stormy</option>
												<option value="snowy">Snowy</option>
											</select>
										</div>

										<div class="d-flex flex-row align-items-center">
											<select class="ml-2 form-control weather-select">
												<option value="sunny">Sunny</option>
												<option value="cloudy">Cloudy</option>
												<option value="rainy">Rainy</option>
												<option value="stormy">Stormy</option>
												<option value="snowy">Snowy</option>
											</select>
										</div>

										<div class="d-flex flex-row align-items-center">
											<select class="ml-2 form-control weather-select">
												<option value="sunny">Sunny</option>
												<option value="cloudy">Cloudy</option>
												<option value="rainy">Rainy</option>
												<option value="stormy">Stormy</option>
												<option value="snowy">Snowy</option>
											</select>
										</div>

										<div class="d-flex flex-row align-items-center">
											<select class="ml-2 form-control weather-select">
												<option value="sunny">Sunny</option>
												<option value="cloudy">Cloudy</option>
												<option value="rainy">Rainy</option>
												<option value="stormy">Stormy</option>
												<option value="snowy">Snowy</option>
											</select>
										</div>

										<div class="d-flex flex-row align-items-center">
											<select class="ml-2 form-control weather-select">
												<option value="sunny">Sunny</option>
												<option value="cloudy">Cloudy</option>
												<option value="rainy">Rainy</option>
												<option value="stormy">Stormy</option>
												<option value="snowy">Snowy</option>
											</select>
										</div>

										<div class="d-flex flex-row align-items-center">
											<select class="ml-2 form-control weather-select">
												<option value="sunny">Sunny</option>
												<option value="cloudy">Cloudy</option>
												<option value="rainy">Rainy</option>
												<option value="stormy">Stormy</option>
												<option value="snowy">Snowy</option>
											</select>
										</div>
									</div>
								</div>



								<div class="p-2 background-dark prognosis-table">
									<h6>Overig</h6>
									<hr>

									<div class="factor-buttons">
										<button type="button">...</button>
										<button type="button">...</button>
										<button type="button">...</button>
										<button type="button">...</button>
										<button type="button">...</button>
										<button type="button">...</button>
										<button type="button">...</button>
									</div>
								</div>
							</div>
							<div class="d-flex flex-row">
								<button type="button" class="btn btn-danger save-button">Annuleren & Ongedaan Maken</button>
								<button type="button" class="btn btn-primary save-button">Opslaan & Bijwerken</button>
							</div>
						</div>
					</div>
				</div>

				<!-- Edit Weather Percentages Modal -->
				<div class="modal fade" id="editWeatherModal" tabindex="-1" role="dialog" aria-labelledby="editWeatherModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-body">
								<form id="weatherPercentagesForm">
									<div class="form-group">
										<label>Weather Impact</label>
										<ul class="list-group" id="weatherPercentagesList">
											<li class="list-group-item d-flex justify-content-between align-items-center">
												Sunny
												<input type="number" class="form-control ml-2" min="0" max="100" value="0" id="sunnyPercentage" aria-label="Sunny Percentage">
												<span>%</span>
											</li>
											<li class="list-group-item d-flex justify-content-between align-items-center">
												Cloudy
												<input type="number" class="form-control ml-2" min="0" max="100" value="0" id="cloudyPercentage" aria-label="Cloudy Percentage">
												<span>%</span>
											</li>
											<li class="list-group-item d-flex justify-content-between align-items-center">
												Rainy
												<input type="number" class="form-control ml-2" min="0" max="100" value="0" id="rainyPercentage" aria-label="Rainy Percentage">
												<span>%</span>
											</li>
											<li class="list-group-item d-flex justify-content-between align-items-center">
												Stormy
												<input type="number" class="form-control ml-2" min="0" max="100" value="0" id="stormyPercentage" aria-label="Stormy Percentage">
												<span>%</span>
											</li>
											<li class="list-group-item d-flex justify-content-between align-items-center">
												Snowy
												<input type="number" class="form-control ml-2" min="0" max="100" value="0" id="snowyPercentage" aria-label="Snowy Percentage">
												<span>%</span>
											</li>
										</ul>
									</div>
								</form>
							</div>
							<div class="flex-row">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary">Save Changes</button>
							</div>

						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>
