@model BumboSolid.Data.Models.Shift

<header class="d-flex align-items-center gap-3 justify-content-center gap-3">
    <div class="mx-3 text-center text-nowrap">
        <h1>Verwijderen</h1>
    </div>
</header>

<div class="d-flex justify-content-center">
    <div class="row justify-content-center col-md-10">
        <h4 class="col-md-12 text-center">Weet je zeker dat je deze shift wil verwijderen?</h4>
        <a class="new-btn w-100" asp-action="Edit" asp-route-id="@Model.Id">Terug</a>
        <div class="col-md-3 p-0 pt-3 w-100">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Verwijderen" class="new-btn w-100" />
            </form>
        </div>
    </div>
</div>
