@model BumboSolid.Models.WeatherManageViewModel

@{
	ViewData["Title"] = "View";
	String[] labels = { "Heel goed", "Goed", "Een beetje goed", "Neutraal", "Een beetje slecht", "Slecht", "Heel slecht" };
}

<h1>Weer-waardes bewerken</h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Bewerken">
			<div class="form-group">
				@for (int i = 0; i < labels.Length; i++)
				{
					String imageSrc = "/images/weather/" + i + ".svg";

					<div class="d-flex flex-row">
						<img class="weather-image" src=@imageSrc />
						<div>
							<label for="Impacts" class="control-label">@labels[i]</label>
							<input name="Impacts" class="form-control" value="@Model.Impacts[i]" type="number"/>
							<span asp-validation-for="Impacts" class="text-danger"></span>
						</div>
					</div>
				}
			</div>

			<div class="d-flex flex-row mt-3 gap-3">
				<input type="submit" value="Opslaan & Terug" class="btn btn-primary" />
				<a class="btn btn-danger" asp-controller="Prognoses" asp-action="Index">Terug</a>
			</div>
		</form>
	</div>
</div>