@{
    ViewData["Title"] = "Normering verwijderen";
}

@model BumboSolid.Data.Models.Norm

<p class="lead">Weet u zeker dat u deze normering wilt verwijderen?</p>

<div class="alert alert-warning" role="alert">
    <p><strong>Activiteit:</strong> @Model.Activity</p>
    <p><strong>Functie:</strong> @Model.Department</p>
    <p><strong>Duur:</strong> @Model.Duration seconden</p>
</div>

<form asp-action="Verwijderen" asp-route-id="@Model.Id" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn early-btn btn-danger w-100">Verwijderen</button>
</form>

<a asp-controller="Normeringen" asp-action="" class="btn early-btn btn-secondary w-100">Annuleren</a>