@{
    ViewData["Title"] = "Normeringen overzicht";
}

@model IEnumerable<BumboSolid.Data.Models.Norm>

<header class="d-flex flex-column align-items-center">
    <div class="d-flex w-100 header-items">
        <div class="d-flex justify-content-center align-items-center w-35">
            <a asp-controller="Prognoses" asp-action="Index" class="btn bumbo-btn bumbo-btn-back"><i class="fa-solid fa-arrow-left"></i> Terug</a>
        </div>
        <div class="text-center d-flex flex-column align-items-center justify-content-center w-30">
            <h1>Normen</h1>
        </div>
        <div class="d-flex justify-content-center align-items-center w-35">
            <a asp-controller="Norms" asp-action="Create" class="btn bumbo-btn"><i class="fa-solid fa-plus"></i> Norm Toevoegen</a>
        </div>
    </div>
</header>

<br />

<div>
    <table class="table">
        <thead>
            <tr>
                <th class="table-corner-l">Activiteit</th>
                <th>Afdeling</th>
                <th>Duur</th>
                <th>Gemiddelde Uitvoeringen Per Dag</th>
                <th>Per bezoeker</th>
                <th class="table-corner-r"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var norm in Model)
            {
                <tr>
                    <td>@norm.Activity</td>
                    <td>@norm.Department</td>
                    <td>
                        @{
                            string readableDuration = norm.Duration.ToString();
                            string durationUnit = "Seconden";

                            if (norm.Duration % 3600 == 0)
                            {
                                readableDuration = (norm.Duration / 3600).ToString();
                                durationUnit = "Uren";
                            }
                            else if (norm.Duration % 60 == 0)
                            {
                                readableDuration = (norm.Duration / 60).ToString();
                                durationUnit = "Minuten";
                            }
                        }
                        @readableDuration @durationUnit
                    </td>
                    <td>@norm.AvgDailyPerformances</td>
                    <td>
                        @if (norm.PerVisitor)
                        {
                            <p>Ja</p>
                        }
                        else
                        {
                            <p>Nee</p>
                        }
                    </td>
                    <td>
                        <a asp-controller="Norms" asp-action="Edit" asp-route-id="@norm.Id">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
