
@{
    ViewData["Title"] = "Schedule";
}

<!--Thses are temporary buttons to help test while there is no schedule-->
<a asp-controller="ScheduleEmployee" asp-action="OutgoingFillRequests" asp-route-id="@ViewBag.FillRequestId" class="btn btn-primary">Uitgaande invalsverzoeken</a>
<a asp-controller="ScheduleEmployee" asp-action="IncomingFillRequests" asp-route-id="@ViewBag.FillRequestId" class="btn btn-primary">Inkomende invalsverzoeken</a>
<a asp-controller="ScheduleEmployee" asp-action="FillRequest" class="btn btn-primary">Stuur invalsverzoek</a>