<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="~/images/bumbo-icon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/general.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/schedule.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nav.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/weather.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/buttons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BumboSolid.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bumbo-navbar">
            <div class="container-fluid">
                @if (User.IsInRole("Manager"))
                {
                    <a class="navbar-brand" asp-controller="Prognoses" asp-action="Index">BumboSolid</a>
                }
                else if (User.IsInRole("Employee"))
                {
                    <a class="navbar-brand" asp-controller="ScheduleEmployee" asp-action="EmployeeSchedule">BumboSolid</a>
                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Manager"))
                        {
                            <a class="btn bumbo-btn bumbo-btn-nav" asp-controller="Prognoses" asp-action="Index"><i class="fa-solid fa-chart-line"></i> Prognoses</a>
                            <a class="btn bumbo-btn bumbo-btn-nav" asp-controller="ScheduleManager" asp-action="OverviewSchedule"><i class="fa-regular fa-calendar"></i> Roosters</a>
                            <a class="btn bumbo-btn bumbo-btn-nav" asp-controller="CAO" asp-action="Index"><i class="fa-solid fa-list-ol"></i> CAO regels</a>
                            <a class="btn bumbo-btn bumbo-btn-nav" asp-controller="Employees" asp-action="Index"><i class="fa-solid fa-users"></i> Medewerkers</a>
                            <a class="btn bumbo-btn bumbo-btn-nav" asp-controller="ScheduleManager" asp-action="FillRequests"><i class="fa-regular fa-bell"></i> Invalsverzoeken</a>
                        }
                        else if (User.IsInRole("Employee"))
                        {
                            <a class="btn bumbo-btn bumbo-btn-nav" asp-controller="ScheduleEmployee" asp-action="EmployeeSchedule"><i class="fa-regular fa-calendar"></i> Rooster</a>
                            <a class="btn bumbo-btn bumbo-btn-nav" asp-controller="ClockedHours" asp-action="Index"><i class="fa-solid fa-clock"></i> Klokken</a>
                            <a class="btn bumbo-btn bumbo-btn-nav" asp-controller="ScheduleEmployee" asp-action="IncomingFillRequests"><i class="fa-regular fa-bell"></i> Invalsverzoeken</a>
                        }
                    </ul>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav">
                            <a class="btn bumbo-btn bumbo-btn-nav" asp-controller="Account" asp-action="Logout"><i class="fas fa-sign-out"></i> @User.Identity.Name</a>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
