html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
}

th, td {
    padding: 5px;
    background-color: lightblue;
    text-align: center;
}

li {
    list-style-type: none;
    margin: 14px;
    text-align: right;
    font-weight: bold;
}

.date {
    color: white;
}

.background-dark {
    background-color:darkgray;
    border-radius: 10px;
}

.background-light {
    background-color: lightgray;
    border-radius: 10px;
}

.background-white {
    background-color: white;
    border-radius: 10px;
}

.prognosis-table {
    padding: 25px 10px 25px 10px;
    margin: 25px 10px 25px 10px;
    width: 20%;
    text-align: center;
}

.prognosis-scrollbar {
    width: 150px;
    height: 150px;
    line-height: 3em;
    overflow: auto;
    padding: 5px;
}

.btn {
    border-radius: 10px;
}

#prognosis-weekdays {
    margin-top: 9%;
}

#prognosis-tables-spacing {
    margin-left: 5%;
}