html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
}

h6 {
    font-size: 1vw;
    margin: 5%;
    font-weight: bold;
    font-style: italic;
}

th, td {
    padding: 5px;
    background-color: lightblue;
    text-align: center;
}

li {
    list-style-type: none;
    margin: 14px;
    text-align: right;
    font-weight: bold;
}

p {
    text-align: center;
}

.square {
    height: 2vw;
    width: 2vw;
    padding-bottom: 20%
}

.background-dark {
    background-color: darkgray;
    border-radius: 10px;
    margin: 10px;
}

.background-light {
    background-color: lightgray;
    border-radius: 10px;
    margin: 10px;
}

.background-white {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}

.prognosis-table {
    padding: 25px 10px 25px 10px;
    margin: 25px 10px 25px 10px;
    width: 20%;
    text-align: center;
}

.btn {
    border-radius: 10px;
    width: 15vw;
    height: 3vw;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 1vw;
}

.impact-changeable {
    color: black;
}

.impact-unchangeable {
    color: white;
}

@media (max-width: 992px) {
    #prognosis-list {
        width: 0px;
        visibility: hidden;
    }
}

#prognosis-scrollbar {
    width: 100%;
    height: 65%;
    line-height: 3em;
    overflow: auto;
    padding: 10%;
    margin: 5% 5% 5% 0%;
}

@media (max-width: 800px) {
    #prognosis-weekdays {
        width: 0px;
        visibility: hidden;
    }
}

#prognosis-weekdays {
    margin-top: 9%;
}

#prognosis-tables-spacing {
    margin-left: 5%;
}

#selected-prognosis-background {
    width: 100%;
}

#prognosis-date {
    color: white;
    margin: 0% 12% 0% 12%;
    width: 23vw;
    text-align: center;
}

#prognosis-factor-button {
    margin: auto;
}