@model BumboSolid.Data.Models.Shift

<header class="text-center">
    <h1>Rooster</h1>
    <p>@(Model.Weekday switch { 0 => "Maandag", 1 => "Dinsdag", 2 => "Woensdag", 3 => "Donderdag", 4 => "Vrijdag", 5 => "Zaterdag", 6 => "Zondag", _ => "Dag bestaat niet report dit bij IT", })</p>
    <p>@Model.Department</p>
    <p>@Model.StartTime t/m @Model.EndTime</p>
</header>

<br />

<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="row justify-content-center align-items-center">
        <h4 class="text-center">Weet je zeker dat je dit invalsverzoek wilt versturen?</h4>
    </div>
    <br />
    <div class="d-flex justify-content-around w-50">
        <a class="btn bumbo-btn bumbo-btn-back" asp-action="EmployeeSchedule"><i class="fa-solid fa-xmark"></i> Annuleren</a>
        <form asp-action="SendFillRequestConfirmed">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn bumbo-btn"><i class="fa-solid fa-check"></i> Versturen</button>
        </form>
    </div>
</div>
