
<div class="modal-body">
	<form id="weatherPercentagesForm">
		<div class="form-group">
			<label>Weer Impact</label>
			<ul class="list-group" id="weatherPercentagesList">
				<li class="list-group-item d-flex justify-content-between align-items-center">
					Zonnig
					<input type="number" class="form-control ml-2" min="0" max="100" value="0" id="sunnyPercentage" aria-label="Sunny Percentage">
					<span>%</span>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-center">
					Bewolkt
					<input type="number" class="form-control ml-2" min="0" max="100" value="0" id="cloudyPercentage" aria-label="Cloudy Percentage">
					<span>%</span>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-center">
					Regen
					<input type="number" class="form-control ml-2" min="0" max="100" value="0" id="rainyPercentage" aria-label="Rainy Percentage">
					<span>%</span>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-center">
					Storm
					<input type="number" class="form-control ml-2" min="0" max="100" value="0" id="stormyPercentage" aria-label="Stormy Percentage">
					<span>%</span>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-center">
					Sneeuw
					<input type="number" class="form-control ml-2" min="0" max="100" value="0" id="snowyPercentage" aria-label="Snowy Percentage">
					<span>%</span>
				</li>
			</ul>
		</div>
	</form>
</div>
<div class="flex-row">
	<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
	<button type="button" class="btn btn-primary">Opslaan</button>
</div>