@model BumboSolid.Models.WeatherManageViewModel

@{
    string[] labels = { "Heel goed", "Goed", "Een beetje goed", "Neutraal", "Een beetje slecht", "Slecht", "Heel slecht" };
}

<h1 class="text-center">Weer-waardes bewerken</h1>

<br />
<div class="row">
    <div>
        <form asp-controller="Weer" asp-action="Bewerken">
            <div class="form-group">
                <div class="row">
                    @foreach (var label in labels)
                    {
                        string imageSrc = "/images/weather/" + Array.IndexOf(labels, label) + ".svg";

                        <div class="col-md-3">
                            <div class="weather-box">
                                <div class="d-flex flex-column align-items-center">
                                    <img class="weather-image" src="@imageSrc" alt="@label" />
                                    <label for="Impacts" class="control-label mb-2">@label</label>
                                    <input name="Impacts" class="form-control" value="@Model.Impacts[Array.IndexOf(labels, label)]" type="number" />
                                    <span asp-validation-for="Impacts" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="d-flex flex-row justify-content-around">
                <input type="submit" value="Opslaan" class="btn bumbo-btn" />
                <a class="btn bumbo-btn" asp-controller="Prognoses" asp-action="">Terug</a>
            </div>
        </form>
    </div>
</div>
