.bumbo-navbar {
    background-color: #405b53;
    margin-bottom: 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.2);
}

/*.nav-btn {
    background-color: #fbc500;
    color: black;
    font-weight: 500;
    transition: background-color 0.2s ease-in-out, transform 0.1s ease;
    margin: .2rem;
    white-space: nowrap;
    border-radius: .5rem;
}

    .nav-btn:hover {
        color: black;
        background-color: #e1b100;
        transform: scale(1.05);
    }

    .nav-btn i {
        color: black;
    }*/

/*color: #1f2b3f
color: #546174*/



